<?xml version="1.0"?>
<launch>
        <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<include file='$(find gazebo_ros)/launch/empty_world.launch'>
                <arg name='paused' value='true'/>
        </include>
        <include file='$(find dobot_description)/launch/world_dobot.launch' />

	<!--include file = "$(find dobot_description)/launch/gazebo_dobot.launch" /-->

        <!-- Launch Moveit Move Group Node -->
        <include file = "$(find moveit_dobot)/launch/move_group.launch" />

        <!-- Run Rviz and load the default configuration to see the state of the move_group node -->
        <arg name="use_rviz" default="true" />
        <include file="$(find moveit_dobot_3)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
                <arg name="rviz_config" value="$(find moveit_dobot)/launch/moveit.rviz"/>
        </include>
	
</launch>
